<%- include('includes/head.ejs') %>

        <div class="header__logo-box">
            <img src="img/icon.png" alt="Logo" class="header__logo">
        </div>

        <main>
            <section class="section-book">
                <div class="row">
                    <div class="book">
                        <div class="u-margin-bottom-medium">
                            <h2 class="heading-secondary">
                                Page Not Found!
                            </h2>
                        </div>
                    </div>
                </div>
            </section>
        </main>

<%- include('includes/footer.ejs') %>